/node_modules
/usr/local/lib/node_modules
/packager-lock.json
/yarn.lock
/node_modules
/.vscode
/.expo
/.expo-shared
/.expo-shared/assets.json
/.expo-shared/assetBundlePatterns.json
/.expo-shared/development-client.json
/package.json
/package-lock.json
/src/components/image
/src/components/image