.youtube-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.youtube-video {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: calc(46%);
    height: 400px;
    font-family: arial;
  }

iframe {
    width: 100%;
    height: 100%;
  }

  
@media (max-width: 768px) {
    .youtube-video {
      width: calc(80%);
      /* height: 60%; */
    }
  }

@media (max-width: 480px) {
    .youtube-video {
      width: 100%;
      /* height: auto; */
    }
  }