
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.left a{
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
.right {
  order: 3;
  display: flex;
  background-color: #000;
  color: #fff;
}

.right a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.dark-mode-toggle {
  order: 2;
  cursor: pointer;
}

.dark-mode-toggle img {
  height: 30px;
  border-radius: 50px;
  margin-left: 170px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .right {
    display: none;
    color: #fff;
  }

  .left {
    order: 2;
    color: #fff;
    margin-left: 20px;
  }

  .dark-mode-toggle {
    order: 3;
  }
}


.mobile-menu-toggle {
  display: none;
}

@media (max-width: 600px) {
  .right {
    display: none;
  }

  .left {
    order: 2;
    color: #fff;
  }

  .mobile-menu-toggle {
    display: block;
    order: 1;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
  }

  .show {
    display: flex;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .show a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }

  .dark-mode-toggle {
    order: 3;
  }
}

/* Styles for the menu icon */
.mobile-menu-toggle i {
  color: #fff;
  cursor: pointer;
}

.mobile-menu-toggle .open {
  display: none;
}

